@use './variables' as var;

$container-size : 45rem;
$container-mobile-size : 25rem;

@mixin radius
{
    @include var.Mobile
    {
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
    }
    @include var.Desktop
    {
        border-top-right-radius: 1rem;
        border-bottom-right-radius: 1rem;
    }   
}

.card-image-container
{
    @include var.Mobile
    {
        width: $container-mobile-size + 10rem;
        height: $container-mobile-size;

        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
    }
    @include var.Desktop
    {
        width: $container-size + 10rem;
        height: $container-size;

        border-top-right-radius: 1rem;
        border-bottom-right-radius: 1rem;
    }
    position : relative;

    & img
    {
        width: 100%;
        height: 100%;
        object-fit: cover;

        @include radius();
        
    }

    &::after
    {
        width: 100%;
        height: 100%;

        content: '';

        background-color: var.$color-accent;

        position: absolute;

        left : 0;
        top : 0;

        opacity: .75;
        mix-blend-mode: hard-light;
        @include radius();

        box-shadow: .1rem .1rem 1rem var.$color-accent;
    }
    // outline: 2px solid red;
}