@use './variables' as var;

$container-size : 45rem;
$container-mobile-size : 35rem;

.card-text-container
{
    @include var.Desktop
    {
        width: $container-size;
        height : $container-size;

        border-bottom-left-radius: 1rem;
        border-top-left-radius: 1rem;
    }
    @include var.Mobile
    {
        width: $container-mobile-size;
        height : $container-mobile-size * 1.6;

        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;

        // outline: 2px solid red;
    }
    

    @include var.center();

    flex-direction: column;

    padding-left: 3rem;
    // outline : 2px solid tomato;

    background-color: var.$color-card-background;
    
    box-shadow: -.1rem .1rem 1rem var.$color-card-background;
    @at-root .card-text-mainbox, .card-text-footerbox
    {
        @include var.Desktop
        {
            width : $container-size / 1.2;
        }
        @include var.Mobile
        {
            width : $container-mobile-size / 1.2;
            
        }
        color : var.$color-white;

        // outline: 2px solid gold;
    }
}

.card-text-mainbox
{
    @include var.Mobile
    {
        text-align: center;
    }
    & h1
    {
        
        font-size: 3rem;
        line-height: 1.5;

        padding-bottom: 2rem;
        & .voilet
        {
            color : var.$color-accent;
        }
    }

    & p
    {
        font-size: 1.5rem;
        color : var.$color-main-paragraph;
        line-height: 1.6;
    }
}

.card-text-footerbox
{
    padding-top: 5rem;
    display: flex;
    
    @include var.Mobile
    {
        flex-direction: column;
        text-align: center;
    }
    & .itembox
    {
        flex-basis: 12rem;
        @include var.Mobile
        {
            flex-basis: 8rem;
        }
        
        & h2
        {
            font-size: 2.5rem;
            // outline: 1px dashed darkgray;
        }
        & p
        {
            font-size: 1.3rem;
            color : var.$color-stat-headings;
            text-transform: uppercase;
            letter-spacing: 1.5px;

            // outline: 1px dashed darkcyan;
        }
    }
}