@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto 0;
  background-color: #090b1a;
}
@media screen and (min-width: 376px) {
  body {
    min-height: 100vh;
  }
}
@media screen and (max-width: 375px) {
  body {
    min-height: 130vh;
  }
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 376px) {
  .wrapper {
    flex-direction: row;
  }
}
@media screen and (max-width: 375px) {
  .wrapper {
    flex-direction: column-reverse;
  }
}

.card-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-left: 3rem;
  background-color: #1b1938;
  box-shadow: -0.1rem 0.1rem 1rem #1b1938;
}
@media screen and (min-width: 376px) {
  .card-text-container {
    width: 45rem;
    height: 45rem;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
  }
}
@media screen and (max-width: 375px) {
  .card-text-container {
    width: 35rem;
    height: 56rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }
}
.card-text-mainbox, .card-text-footerbox {
  color: white;
}
@media screen and (min-width: 376px) {
  .card-text-mainbox, .card-text-footerbox {
    width: 37.5rem;
  }
}
@media screen and (max-width: 375px) {
  .card-text-mainbox, .card-text-footerbox {
    width: 29.1666666667rem;
  }
}

@media screen and (max-width: 375px) {
  .card-text-mainbox {
    text-align: center;
  }
}
.card-text-mainbox h1 {
  font-size: 3rem;
  line-height: 1.5;
  padding-bottom: 2rem;
}
.card-text-mainbox h1 .voilet {
  color: #aa5cdb;
}
.card-text-mainbox p {
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.75);
  line-height: 1.6;
}

.card-text-footerbox {
  padding-top: 5rem;
  display: flex;
}
@media screen and (max-width: 375px) {
  .card-text-footerbox {
    flex-direction: column;
    text-align: center;
  }
}
.card-text-footerbox .itembox {
  flex-basis: 12rem;
}
@media screen and (max-width: 375px) {
  .card-text-footerbox .itembox {
    flex-basis: 8rem;
  }
}
.card-text-footerbox .itembox h2 {
  font-size: 2.5rem;
}
.card-text-footerbox .itembox p {
  font-size: 1.3rem;
  color: rgba(255, 255, 255, 0.6);
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.card-image-container {
  position: relative;
}
@media screen and (max-width: 375px) {
  .card-image-container {
    width: 35rem;
    height: 25rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
  }
}
@media screen and (min-width: 376px) {
  .card-image-container {
    width: 55rem;
    height: 45rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }
}
.card-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media screen and (max-width: 375px) {
  .card-image-container img {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
  }
}
@media screen and (min-width: 376px) {
  .card-image-container img {
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }
}
.card-image-container::after {
  width: 100%;
  height: 100%;
  content: "";
  background-color: #aa5cdb;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.75;
  mix-blend-mode: hard-light;
  box-shadow: 0.1rem 0.1rem 1rem #aa5cdb;
}
@media screen and (max-width: 375px) {
  .card-image-container::after {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
  }
}
@media screen and (min-width: 376px) {
  .card-image-container::after {
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }
}/*# sourceMappingURL=index.css.map */